@import url('https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@mixin flexColumn{
  display: flex;
  flex-direction: column;
}
$font-main: "Montserrat", sans-serif;
$code-font: "Roboto Mono", monospace;
$purple: #646cff;
$fancy-font: "Playwrite NG Modern", cursive;
$font-color-white: rgba(255, 255, 255, 0.87);
$lavender: rgb(182, 166, 228);
$back-black: #242424;

:root {
  font-family: $font-main;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: $font-color-white;
  background-color: $back-black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App{
  @include flexColumn();
  justify-content: center;
}

.main{
  @include flexColumn();
  height: 50vh;
  justify-content: center;
}

a {
  font-weight: 500;
  color: white;
  text-decoration: none;
  &:hover{
    color: $lavender;
  }
  &:active{
    color: $lavender;
  }
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.2;
  font-weight: 800;
  text-shadow: 0 0 5px whitesmoke;
  .subtitle{
    color: $lavender;
    font-family: $code-font;
    font-weight: 350;
    font-size: 0.5em;
    text-shadow: none;
  }
}

p{
  font-family: $code-font;
}

.navbar{
  display: flex;
  column-gap: 3.5rem;
  justify-content: center;
  position: fixed;
  top: 10px;
  left: 0;
  width: 100%;
  div p{
    font-family: $code-font;
    font-size: 1.4rem;
    font-weight: 500;
  }
}



.footer{
  @include flexColumn();
  row-gap: 12px;
  position: relative;
  top: 7rem;

  .reachme{
    font-family: $fancy-font;
    font-size: 1.1rem;
    }
  
  .icons{
    display: flex;
    column-gap: 24px;
    justify-content: center;
    .fa-brands{
      font-size: 1.8rem;
      transition: all 0.3s ease;
    }
    .fa-envelope{
      font-size: 1.8rem;
      transition: all 0.3s ease;
    }
    i:hover{
      transform: scale(1.1);
      text-shadow: 0 0 10px #bea5ca, 0 0 15px #9e74ce, 0 0 20px #5b4968;
    }
  }
}

@keyframes blink {
    0% { text-shadow: 0 0 8px $lavender }
    50% { text-shadow: none; }
    100% { text-shadow: 0 0 8px $lavender }
}

@-webkit-keyframes blink {
    0% { text-shadow: 0 0 8px $lavender; }
    50% { text-shadow: 0 0 0; }
    100% { text-shadow: 0 0 8px $lavender; }
}

h1, .reachme {
    -webkit-animation: blink 3.0s ease-in infinite;
    -moz-animation: blink 3.0s ease-in infinite;
    -ms-animation: blink 3.0s ease-in infinite;
    -o-animation: blink 3.0s ease-in infinite;
    animation: blink 3.0s ease-in infinite;
}

.about{
  width: 75vw;
  display: flex;
  .img-container{
    align-content: center;
    img{
      border-radius: 15px;
      box-shadow: 0 5px 8px rgb(0, 0, 0), 0 6px 20px rgb(0, 0, 0);
    }
  }
  text-align: left;
  .about-text{
    align-content: center;
    padding-left: 40px;
    #about-me{
      font-family: $code-font;
      font-size: 1.35rem;
      font-weight: 300;
      margin-top: 0;
    }
  }
}

@media screen and (max-width: 500px){
  h1 {
    font-size: 2.1em;
    .subtitle{
      font-size: 0.5em;
    }
  }

  .footer{
    @include flexColumn();
    row-gap: 1px;
    position: relative;
    top: 7.5rem;

    .reachme{
      font-family: $fancy-font;
      font-size: 0.8rem;
      }
    
    .icons{
      display: flex;
      column-gap: 18px;
      justify-content: center;
      .fa-brands{
        font-size: 1.2rem;
      }
      .fa-envelope{
        font-size: 1.2rem;
      }
    }
  }

  .about{
    position: absolute;
    top: 12vh;
    width: 90vw;
    left: 50%;
    transform: translateX(-50%);
    @include flexColumn();
    row-gap: 12px;
    .img-container{
      width: 100%;
      text-align: center;
      img{
        height: 100px;
        width: auto;
      }
    }
    .about-text{
      text-align: center;
      padding-left: 0;
      #about-me{
        font-size: 0.7rem;
      }
    }
  }

  .navbar{
    column-gap: 2.7rem;
    position: fixed;
    top: 12px;
    left: 0;
  }
}

@media screen and (min-width: 501px) and (max-width: 900px){
  h1 {
    font-size: 2.7em;
    .subtitle{
      font-size: 0.5em;
    }
  }

  .footer{
    @include flexColumn();
    row-gap: 8px;
    position: relative;
    top: 11rem;

    .reachme{
      font-size: 1rem;
    }
    
    .icons{
      display: flex;
      column-gap: 21px;
      justify-content: center;
      .fa-brands{
        font-size: 1.4rem;
      }
      .fa-envelope{
        font-size: 1.4rem;
      }
    }
  }

  .about{
    position: absolute;
    top: 10vh;
    width: 80vw;
    left: 50%;
    transform: translateX(-50%);
    @include flexColumn();
    row-gap: 20px;
    .img-container{
      width: 100%;
      text-align: center;
      img{
        height: 250px;
        width: auto;
      }
    }
    .about-text{
      text-align: center;
      padding-left: 0;
      #about-me{
        font-size: 1rem;
      }
    }
  }

  .navbar{
    column-gap: 3rem;
    position: fixed;
    top: 10px;
    left: 0;
  }

}

@media screen and (min-width: 901px) and (max-width: 1300px){
  h1 {
    font-size: 3em;
    .subtitle{
      font-size: 0.5em;
    }
  }

  .footer{
    @include flexColumn();
    row-gap: 6px;
    position: relative;
    top: 7rem;
    
    .icons{
      display: flex;
      column-gap: 22px;
      justify-content: center;
      .fa-brands{
        font-size: 1.65rem;
      }
      .fa-envelope{
        font-size: 1.65rem;
      }
    }
  }

  .navbar{
    position: fixed;
    top: 10px;
    left: 0;
  }

  .about{
    position: absolute;
    top: 15vh;
    width: 80vw;
    left: 50%;
    transform: translateX(-50%);
    width: 80vw;
    display: flex;
    .img-container{
      align-content: center;
      img{
        height: 320px;
        width: auto;
      }
    }
    text-align: left;
    .about-text{
      align-content: center;
      padding-left: 20px;
      #about-me{
        font-size: 1.05rem;
      }
    }
  }
}
