@import url('https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@mixin flexColumn{
  display: flex;
  flex-direction: column;
}
$font-main: "Montserrat", sans-serif;
$code-font: "Roboto Mono", monospace;
$purple: #646cff;
$fancy-font: "Playwrite NG Modern", cursive;
$font-color-white: rgba(255, 255, 255, 0.87);
$lavender: rgb(182, 166, 228);
$back-black: #242424;

:root {
  font-family: $font-main;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: $font-color-white;
  background-color: $back-black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App{
  @include flexColumn();
  min-height: 100vh;
  justify-content: center;
}

.main{
  @include flexColumn();
  height: 50vh;
  justify-content: center;
}

a {
  font-weight: 500;
  color: white;
  text-decoration: none;
  &:hover{
    color: $lavender;
  }
  &:active{
    color: $lavender;
  }
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.2;
  font-weight: 800;
  text-shadow: 0 0 5px whitesmoke;
  .subtitle{
    color: $lavender;
    font-family: $code-font;
    font-weight: 350;
    font-size: 0.5em;
    text-shadow: none;
  }
}

.navbar{
  display: flex;
  column-gap: 3.5rem;
  justify-content: center;
  position: fixed;
  top: 6px;
  left: 0;
  width: 100%;
  div p{
    font-family: $code-font;
    font-size: 1.4rem;
    font-weight: 500;
  }
}

.footer{
  @include flexColumn();
  row-gap: 12px;
  position: relative;
  top: 8rem;
  
  .icons{
    display: flex;
    column-gap: 24px;
    justify-content: center;
    .fa-brands{
      font-size: 1.8rem;
      transition: all 0.3s ease;
    }
    .fa-envelope{
      font-size: 1.8rem;
      transition: all 0.3s ease;
    }
    i:hover{
      transform: scale(1.1);
      text-shadow: 0 0 10px #bea5ca, 0 0 15px #9e74ce, 0 0 20px #5b4968;
    }
  }
}

.reachme{
  font-family: $fancy-font;
  font-size: 1.1rem;
  }

@keyframes blink {
    0% { text-shadow: 0 0 8px $lavender }
    50% { text-shadow: none; }
    100% { text-shadow: 0 0 8px $lavender }
}

@-webkit-keyframes blink {
    0% { text-shadow: 0 0 8px $lavender; }
    50% { text-shadow: 0 0 0; }
    100% { text-shadow: 0 0 8px $lavender; }
}

h1, .reachme {
    -webkit-animation: blink 3.0s ease-in infinite;
    -moz-animation: blink 3.0s ease-in infinite;
    -ms-animation: blink 3.0s ease-in infinite;
    -o-animation: blink 3.0s ease-in infinite;
    animation: blink 3.0s ease-in infinite;
}

.about{
  display: flex;
  .img-container{
    img{
      border-radius: 15px;
    }
  }
  column-gap: 20px;
}

#about-me{
  font-family: $code-font;
  font-size: 1.3rem;
  font-weight: 300;
}
// @media (prefers-color-scheme: light) {
//   :root {
//     color: #213547;
//     background-color: #ffffff;
//   }
//   a:hover {
//     color: #747bff;
//   }
//   button {
//     background-color: #f9f9f9;
//   }
// }
